body {
  background-color: rgb(221, 220, 220);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.controlBtn {
  background-color: rgb(251, 218, 246);
  border-radius: 0.75rem;
  box-shadow: 1px 1px black;
  display: inline;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0rem 3rem 1.5rem 2rem;
  padding: 0.5rem;
}

.controlBtn:hover {
  background-color: rgb(222, 199, 199);
}

.controlBtn:active {
  background-color: white;
}

.highlight {
  background-color: yellow;
}

input {
  background-color: rgb(250, 250, 250);
  border-radius: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  height: 12rem;
  margin-bottom: 2rem;
  width: 75%;
}

#user-input-title,
#to-do-title {
  margin-bottom: 2rem;
}

#user-input-title {
  font-size: 1.25rem;
}

#to-do-title {
  font-size: 1.5rem;
}

li {
  color: black;
  margin-left: 1rem;
  text-align: left;
}

ol {
  background-color: rgb(250, 250, 250);
  border-radius: 3%;
  margin: 0 3rem 1rem 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hidden {
  display: none;
}

.removeBtn {
  color: white;
  background-color: red;
  border: solid black 0.5%;
  border-radius: 50%;
  bottom: 1rem;
  font-size: 0.5rem;
  height: 1.25rem;
  left: 9rem;
  position: relative;
  width: 1.25rem;
}

.removeBtn:hover {
  background-color: white;
  color: red;
}

.things-to-do {
  border: solid rgb(0, 0, 0) 2px;
  padding-bottom: 1rem;
}

.user-input {
  border: solid rgb(0, 0, 0) 2px;
  padding-bottom: 1rem;
}

nav {
  background-color: black;
  color: white;
  overflow: hidden;
  scroll-behavior: smooth;
}

nav > a {
  color: white;
}

.dark-mode {
  background-color: black;
  border: solid rgb(29, 209, 23) 2px;
  color: white;
}

@media (min-width: 40rem) {
  body {
    margin: 15%;
  }
  #displayBtn {
    display: block;
    margin-left: 50px;
  }
}

@media (min-width: 60rem) {
  body {
    margin: 25%;
  }
}

/* bug fixes -
1. want darkmode box shadows in white
2. want to remove 4px double border from where the two big div elements meet
*/
