body {
  background-color: rgb(247, 247, 247);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  text-align: center;
}

nav {
  background-color: black;
  color: white;
  overflow: hidden;
  scroll-behavior: smooth;
}

nav > a {
  color: white;
}

.things-to-do {
  outline: solid rgb(0, 0, 0) 0.1rem;
}

.user-input {
  outline: solid rgb(0, 0, 0) 0.1rem;
  padding-bottom: 1rem;
}

#user-input-title,
#to-do-title {
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
}

#user-input-title {
  font-size: 1.25rem;
}

#to-do-title {
  font-size: 1.5rem;
}

.controlBtn {
  background-color: rgb(251, 218, 246);
  border-radius: 0.75rem;
  box-shadow: 0.15rem 0.15rem black;
  display: inline;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0rem 3rem 1.5rem 2rem;
  padding: 0.5rem;
}

.controlBtn:hover {
  background-color: rgb(222, 199, 199);
}

.controlBtn:active {
  background-color: white;
}

.highlight {
  background-color: yellow;
}

input {
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  height: 12rem;
  margin-bottom: 2rem;
  width: 70%;
}

li {
  color: black;
  margin-left: 1rem;
  text-align: left;
}

ul {
  background-color: rgb(255, 255, 255);
  margin: 0 3rem 1rem 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hidden {
  display: none;
}

.removeBtn {
  color: white;
  background-color: red;
  border: solid black 0.5%;
  border-radius: 50%;
  bottom: 1rem;
  font-size: 0.5rem;
  height: 1.25rem;
  left: 9rem;
  position: relative;
  width: 1.25rem;
}

.removeBtn:hover {
  background-color: white;
  color: red;
}

.dark-mode {
  background-color: rgb(69, 69, 69);
  color: rgb(230, 230, 230);
}

@media (min-width: 40rem) {
  body {
    margin: auto;
    padding: 1rem;
    justify-content: center;
  }
  #submitBtn {
    display: inline-block;
  }
}

@media (min-width: 60rem) {
  body {
    margin: auto;
    padding: 1rem;
    justify-content: center;
    max-width: 60rem;
  }
  #submitBtn {
    display: inline-block;
  }
}
